* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --width: 100px;
}

main{
    width: 100%;
    height: 100dvh;
    display: grid;
    place-items: center;
    background: #3d515b;
}
nav {
    flex: 1;
    padding: 10px 2px;
    background: #009688;
    border-radius: 8px;
    display: flex;
    position: relative;
}
nav > div {
    width: var(--width);
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 11;
}

div > svg {
    stroke: #fff;
    width: 40px;
    transition:  .4s cubic-bezier(0.48, 1.07, 1, 1.27);
}

div:hover svg{
    transform: translateY(-40px);
}

.indicator{
    display: none;
    position: absolute;
    top: -40px;
    left: 22px;
    width: 60px;
    height: 60px;
    background-color: #009688;
    border: 6px solid #3d515b;
    border-radius: 50%;
    z-index: 10;
    transition: .5s ease-in-out;
}

div:hover ~ .indicator {
    display: block;
}


div:hover:nth-child(2) ~ .indicator{
    transform: translateX(calc(var(--width) * 1));
}
div:hover:nth-child(3) ~ .indicator{
    transform: translateX(calc(var(--width) * 2));
}
div:hover:nth-child(4) ~ .indicator{
    transform: translateX(calc(var(--width) * 3));
}
div:hover:nth-child(5) ~ .indicator{
    transform: translateX(calc(var(--width) * 4));
}



